<h1>Click Below to Learn More</h1>
		<br>
		<br>

		<table>
			<tr>
				<td><a routerLink="/info/travel"><div class="overlay">Travel &amp; Transportation Details</div><img src="assets/placeholder.svg" alt="Travel Details"></a></td>
				<td><a routerLink="/info/services"><div class="overlay">Services &amp; Amenities</div><img src="assets/placeholder.svg" alt="Services"></a></td>
				<td><a routerLink="/info/places"><div class="overlay">Lodging &amp; Other Places</div><img src="assets/placeholder.svg" alt="Places to Visit"></a></td>
				<td><a routerLink="/info/food"><div class="overlay">Food</div><img src="assets/placeholder.svg" alt="Laws &amp; Regulations"></a></td>
			</tr>
		</table>
		<br>
		<br>

<router-outlet />
