/* Nav Styles */

img.logo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
img.header{
  height: 200px;
  width: 600px;
}

.topnav {
  margin-top: 0 auto;
  overflow: hidden;
  background-color: grey;
  display: flex;
  justify-content: center;

}

.topnav a {
  float: left;
  display: block;
  margin-top: 0 auto;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: lightgray;
  color: black;
}

.topnav a.active {
  background-color: dimgrey;
  color: white;
}
