/*Universal Styles*/

*	{
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}

body {
  background-color: white;
}

h1, h2, h3, p {
  color: #676767;
}

h1 {
  font-size: 60px;
  font-style: italic;
}

h3, .toc > li {
  font-size: 40px;
}

p, i, a, ul, li {
  font-size: 25px;
  text-align: left;
}

/*img Link Styles*/

img {
  float: center;
  height: 320px;
  width: 450px;
}

table {
  margin: auto;
}

a {
  color: #6699CC;
  text-decoration: none;
}

a:hover {
  background-color: dimgray;
  color: black;
}

a > img {
  margin-top: 0px;
}

a:hover > img {
  width: 400px;
  margin: 10px;
  margin-top: 0px;
}

.overlay {
  opacity: 0;
  color: white;
  background-color: dimgray;
  transition: .5s ease;
}

a:hover > .overlay {
  opacity: 0.8;
}
