		<h1>WELCOME TO TANITI!</h1>

		<table style="overflow-y:scroll;height:350px;display:block;">
			<tr>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
				<td><a href="info/placeholder"><img src="assets/placeholder.svg"></a></td>
			</tr>
		</table>
		<br>
		<br>
		<p>
			<i>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce molestie elit neque, a sodales ex iaculis ut. Sed dictum gravida imperdiet. Pellentesque semper id magna et volutpat. Nam odio ante, euismod sit amet commodo sit amet, aliquam at nibh. Ut nec orci sit amet elit volutpat condimentum. Quisque commodo volutpat ultrices. Fusce pretium hendrerit tellus a efficitur. Morbi fringilla porttitor eros nec pulvinar. Nam neque ante, maximus commodo nisl eu, tincidunt dignissim nunc. Phasellus cursus magna sit amet risus lobortis pharetra. Sed imperdiet felis justo, ut facilisis turpis dapibus non. Praesent vel nisi nec lacus pretium tempor ac quis libero. Etiam pharetra, tortor vel facilisis tempus, augue justo accumsan tortor, quis varius est nibh a purus. Duis iaculis mauris eget dui dapibus hendrerit. Nunc pulvinar lorem eu magna condimentum, in blandit purus cursus.

Morbi fringilla lorem ac nisl rhoncus, tempor auctor elit bibendum. Suspendisse ut ex massa. Etiam tincidunt sapien finibus magna pellentesque, ac dictum nulla iaculis. Etiam pellentesque nulla sit amet vehicula commodo. Mauris commodo sed magna at feugiat. Vivamus condimentum, massa eu ultrices auctor, orci purus scelerisque tortor, ut sagittis tellus ligula ut quam. Integer ut ligula sed est condimentum rhoncus non ut lectus. Pellentesque sed neque at tortor laoreet feugiat.
      </i>
		</p>
		<br>
		<br>
